<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #result {
          border: 1px solid black;
        }
      </style>
    <title>Details</title>
</head>
<body>
    <h1>Listings for <span data-th-text="${country}"></span></h1>
    <a href="#" onclick="history.go(-1)">Back</a>
    <br />
    <br />
    <br />
    <table id="result">
        <tr id="result">
            <td id="result">Id:</td>
            <td id="result" data-th-text="${details.id}"></td>
        </tr>
        <tr id="result">
            <td id="result">Description:</td>
            <td id="result">
                <p data-th-text="${details.description}"></p>
                <span><img data-th-src="${details.image}" alt="" height="200px" width="200px"></span>
            </td>
        </tr>
        <tr id="result">
            <td id="result">Address:</td>
            <td id="result">
                <p data-th-text="${details.street}"></p>
                <p data-th-text="${details.suburb}"></p>
                <p data-th-text="${details.country}"></p>
            </td>
        </tr>
        <tr id="result">
            <td id="result">Price:</td>
            <td id="result" data-th-text="${details.price}"></td>
        </tr>
        <tr id="result">
            <td id="result">Amenities:</td>
            <td id="result" data-th-text="${details.amenities}"></td>
        </tr>
    </table>

    <h1>Bookings</h1>
    <form action="/book" method="post">
        <table>
            <input type="hidden" name="id" data-th-value="${details.id}">
            <tr>
                <td>Name:</td>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input type="text" name="email"></td>
            </tr>
            <tr>
                <td>Arrival:</td>
                <td><input type="date" name="arrival"></td>
            </tr>
            <tr>
                <td>Stay:</td>
                <td><input type="number" name="days"> days</td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Book"></td>
            </tr>
        </table>
    </form>
</body>
</html>